<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launch>
  <node pkg="nissan_bringup" type="vehicle_cmd_converter.py" name="vehicle_cmd_converter"/> <!-- temporary fix TODO-->
  <node pkg="nissan_bringup" type="current_pose_from_tf.py" name="current_pose_from_tf"/> <!-- temporary fix TODO-->
  <node pkg="topic_tools" type="relay" name="cmd_relay" args="/ctrl_raw /ctrl_cmd" />
</launch>